$main-bg: #1b1f2b;
$secound-color: #0f1425;
$third-color: #674df3;
$main-color: #30f0b6;
$gray-color: #838694;

// start footer
footer {
  background-color: $main-bg;
  color: white;
  padding: 70px 0;
  position: relative;

  .container {
    position: relative;
    z-index: 5;

    .content {
      .شعار {
        background-color: $third-color;
        color: white;
        padding: 15px 20px;
        width: fit-content;
        margin-bottom: 20px;
      }

      .desc {
        color: $gray-color;
        line-height: 1.6;
        font-size: 15px;
      }

      .items {
        h3 {
          margin-bottom: 25px;
        }

        > span {
          color: $gray-color;
          margin-bottom: 15px;
          display: block;
        }

        .sign-dev {
          padding: 8px;
          border-bottom: 1px solid $gray-color;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;

            svg {
              color: $main-color;
              width: 20px;
            }

            font-size: 13px;
            font-weight: 500;
            color: $gray-color;
          }

          .btn-sign {
            border: none;
            background-color: $third-color;
            color: white;
            padding: 6px 15px;
            font-size: 14px;
          }
        }

        .social-container {
          margin-top: 20px;
          h5 {
            margin-bottom: 15px;
          }

          .social {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-top: 10px;

            a {
              i {
                color: $third-color;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .footer-bg-shape,
  .footer-bg-line {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }

  .footer-bg-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 550px) {
  footer {
    padding: 30px 0;

    .container {
      .content {
        .شعار {
          padding: 10px 15px;

          h1 {
            font-size: 22px;
          }
        }

        .items {
          h3 {
            font-size: 18px;
            margin-bottom: 12px;
          }

          > span {
            margin-bottom: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
// end footer

// start footer-bottom
.footer-bottom {
  padding: 15px 0;
  background-color: $secound-color;

  p {
    text-align: center;
    color: $gray-color;
    margin-bottom: 0;
  }
}
// end footer-bottom
